<form>
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input type="search"
           placeholder="Search an Item"
           [matAutocomplete] = "auto"
           matInput
           (input)="filter($event)">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selection($event)"
                      [displayWith]="getOptionDisplay">
      <mat-option *ngFor="let option of filteredOptions" [value]="option">
        {{ option.title }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<div *ngIf = "filteredOptions.length == 0">
  There are no matching search results. Try Something else.
</div>